body {
    background-color: #CD9A64;
    overflow-x: hidden;
}

.title-nav {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #311b00;
}

.title-item {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #311b00;
}

.landing-page {
    background-image: url('img/bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
    height: 520px;
    background-position: 0px;
    border-radius: 0 0 40px 40px;
}

.landing-page .brand {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.landing-page span {
    font-size: 14px;
}

hr {
    border-top: 2px solid #1E0F01;
}

.border-r {
    border-radius: 10px;
    /* overflow: hidden; */
}